

html, body {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    align-items: center;
    height: 100vh;
}

#container {
    display: grid;
    justify-content: center;
    width: 300px;
    height: 500px;   
    align-items: center;
    border: solid purple;
}

#display {
    border: solid purple;
    text-align: center;
}


.operators {
    display: flex;
    justify-content: center;
}

.numbers {
    display: flex;
    align-self: flex-start;

}