
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
        margin-top: 200px;
        max-inline-size: 22rem; 
        border-radius: 10px; /* Round the edges */
        overflow: hidden; /* don't let other elements go outside the calculator */
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12); /* Give the calculator some depth off the page */
        
    }
    
    #display {
        display: block;
        font-size: 2rem;
        text-align: end;
        min-height: 76px;
        color: hsl(202, 11%, 29%);; /* text color */
        padding-block-start: 0.25rem;
        padding-block-end: 0.25rem; 
    padding-inline-end: 0.75rem;

}

.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.numbers, .operators, #enter{
    border: none;
    padding-block-start: 0.5rem; 
    padding-block-end: 0.5rem; 
    padding-inline-start: 1.25rem; 
    padding-inline-end: 1.25rem;
    font-size: 1.5rem;
    inline-size: 60px;


    block-size: 50px;
  
    border-radius: 0px;
}

#clear{
    padding-left: 15px;
}


#enter{
    grid-column: 4 / 5; /* Start at column #4 and end at column #5 (the very right edge). */
    grid-row: 3 / span 4; /* Start at row #2 and span 4 rows */
    height: auto;

}
